html
    head
        block title
            title Application Title
        
        link(rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="/app/css/site.css")
        
        script(type="text/javascript" src="/lib/jquery/jquery.min.js")
        script(type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js")
    body
        div.navbar.navbar-default
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href="#") Application Title
                ul.nav.navbar-nav
                    li.active
                        a(href="#") Home
                    li
                        a(href="#") Page 1
                    li
                        a(href="#") Page 2
                    li
                        a(href="#") Page 3
        block content
        include footer.pug