extends ../layout/master.pug

block title
    title Home

block content
    div.container-fluid
        div.row
            div.jumbotron
                h1 Application Title
    div.container
        div.row
            div.col-xs-12
                div.col-xs-4
                    h3 Column 1
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare interdum magna, eu molestie felis ultrices laoreet. Aliquam ante sem, dignissim ac tortor ut, venenatis lacinia tellus. Sed sed accumsan dui. Nulla mollis ultricies ipsum, ut dignissim massa condimentum et. Donec dapibus id purus ac venenatis. Fusce neque ipsum, varius ut turpis at, euismod mollis turpis. Nulla finibus condimentum enim sit amet pellentesque. Ut et justo et massa bibendum volutpat et id dolor. Vivamus consequat lacinia facilisis. Ut sed luctus diam, non volutpat ante.
                div.col-xs-4
                    h3 Column 2
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque tristique augue eu vehicula. Maecenas eros libero, eleifend eu massa sit amet, tincidunt luctus felis. Maecenas quis scelerisque ligula, non feugiat sapien. Nam viverra diam venenatis porttitor facilisis. Pellentesque sed diam vitae ex viverra commodo at ac mi. Sed eros ligula, consectetur at nulla non, auctor rutrum quam. Sed risus tellus, molestie id ullamcorper in, viverra a ex. Sed tempor, sem sed iaculis egestas, lorem tellus scelerisque augue, vel eleifend tellus ex nec est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet arcu vitae consectetur ornare. Aenean et enim non leo elementum tincidunt. Curabitur ac ex ut neque rhoncus sagittis sed quis orci. Donec nec felis vestibulum, sollicitudin eros nec, interdum ipsum. Vestibulum vitae egestas ligula, vitae auctor enim.
                div.col-xs-4
                    h3 Column 3
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec sollicitudin elit, eget convallis magna. Nulla mollis turpis vitae ligula commodo gravida. Morbi sed mi dolor. Nunc at nisi porta, aliquet lectus non, eleifend nisl. Pellentesque non elit gravida leo pharetra rhoncus in id erat. Mauris eget sagittis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in viverra ipsum. Praesent elementum orci eu ipsum tempor vehicula. Curabitur ut diam quis tortor vestibulum blandit vel eu dui. Morbi eu dapibus ipsum, vitae condimentum turpis.